<!-- <p>dashboard works!</p> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- <a class="navbar-brand">Inicio</a> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    </button> -->

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link">Registrar</a>
            </li>
            <!-- <li class="nav-item active">
                <a class="nav-link" >Profesores</a>
            </li> -->
        </ul>
        <!-- <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link">Salir</a>
            </li>
        </ul> -->
    </div>
</nav>


<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Correo electrónico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Hecha un vistazo!!</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>