<!-- <p>dashboard works!</p> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- <a class="navbar-brand">Inicio</a> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    </button> -->

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="onRegistrar()">Registrar</a>
            </li>
            <!-- <li class="nav-item active">
                <a class="nav-link" >Profesores</a>
            </li> -->
        </ul>
        <!-- <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link">Salir</a>
            </li>
        </ul> -->
    </div>
</nav>